# Homework 1

## Part I. HICP data from SDW

In [1]:
# import pandas (and other libraries you may want to use)

import pandas as pd

In [2]:
# import the data files you downloaded from SDW
# the option "header" was added due to how the ECB file was built

df_hicp_041100=pd.read_csv('./data/data_041100.csv', header=4)
df_hicp_041200=pd.read_csv('./data/data_041200.csv', header=4)
df_hicp_043100=pd.read_csv('./data/data_043100.csv', header=4)
df_hicp_043200=pd.read_csv('./data/data_043200.csv', header=4)
df_hicp_044000=pd.read_csv('./data/data_044000.csv', header=4)
df_hicp_044100=pd.read_csv('./data/data_044100.csv', header=4)
df_hicp_044200=pd.read_csv('./data/data_044200.csv', header=4)
df_hicp_044300=pd.read_csv('./data/data_044300.csv', header=4)
df_hicp_044400=pd.read_csv('./data/data_044400.csv', header=4)
df_hicp_045100=pd.read_csv('./data/data_045100.csv', header=4)
df_hicp_045200=pd.read_csv('./data/data_045200.csv', header=4)
df_hicp_045300=pd.read_csv('./data/data_045300.csv', header=4)
df_hicp_045400=pd.read_csv('./data/data_045400.csv', header=4)
df_hicp_045500=pd.read_csv('./data/data_045500.csv', header=4)

In [3]:
# Print as a list the codes of the subindices you downloaded.
# For example, if you download items from the __FOOD AND NON-ALCOHOLIC BEVERAGES__ category, 
# list all codes type `01XX00` you were able to download. 

list_of_subindices=['041100', '041200', '043100', '043200', '044000', '044100', '044200', '044300', '044400', '045100', '045200', '045300', '045400', '045500']

In [4]:
# create a single dataframe combining data for all HICP subindices you downloaded

list_of_dfs=[]

for sind in list_of_subindices:
    temp_df = pd.read_csv(f'data/data_{sind}.csv', index_col=0, header=4)
    list_of_dfs.append(temp_df)

In [5]:
df_hicp_all = pd.concat(list_of_dfs, axis=1)
df_hicp_all

,[Percentage change ],[Percentage change ],[Percentage change ],[Percentage change ],[Percentage change ],[Percentage change ],[Percentage change ],[Percentage change ],[Percentage change ],[Percentage change ],[Percentage change ],[Percentage change ],[Percentage change ],[Percentage change ]
Period\Unit:,,,,,,,,,,,,,,
2021Dec,1.2,0.8,6.7,4.8,1.9,2.3,2.3,1.5,1.7,22.6,28.5,40.5,6.7,15.2
2021Nov,1.1,0.8,6.2,4.7,2.0,2.3,2.3,1.5,1.8,17.8,27.2,57.0,3.7,11.6
2021Oct,1.2,0.9,5.7,4.5,2.0,2.3,2.4,1.5,1.9,15.1,23.0,52.9,2.9,8.9
2021Sep,1.2,0.9,5.0,3.3,2.0,2.4,2.4,1.5,1.8,10.9,16.9,35.6,2.2,5.6
2021Aug,1.2,1.0,4.2,3.1,1.9,2.4,2.3,1.5,1.7,9.4,15.1,26.8,1.8,4.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996May,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.1,NaN,NaN,NaN,NaN,NaN,NaN
1996Apr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5,NaN,NaN,NaN,NaN,NaN,NaN
1996Mar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.4,NaN,NaN,NaN,NaN,NaN,NaN
1996Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.3,NaN,NaN,NaN,NaN,NaN,NaN
1996Jan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# make other changes to the dataframe - set datetime index, rename the columns (up to you, but shortning very names may be a good idea)

#Renaming the columns
df_hicp_all.columns = list_of_subindices #this command changes the name of the columns with the inflation data

#the following two steps change aim to change the name of the column "date", initially named Period\Unit. The presence of \ generated an error in the code, which created the necessity to adapt the code.
df_hicp_all.reset_index(inplace=True)
df_hicp_all.columns.values[0]="date" 

#Set datetime index (note that this is going to eliminate the index generated in the previous step, which is ok since that step was just an auxiliar)
new_index = pd.to_datetime(df_hicp_all.date, format='%Y%b') #generating the new index to replace the old one. The option format='%Y%b' informs the date is on the form 2022Fev, for instance. 

df_hicp_all.index=new_index #introducing the index. This steps will generate an additional column with the date. So we can delet the "old" one:

df_hicp_all.drop('date', axis=1, inplace=True)

In [7]:
#Chech how the dataframe is
df_hicp_all

,041100,041200,043100,043200,044000,044100,044200,044300,044400,045100,045200,045300,045400,045500
date,,,,,,,,,,,,,,
2021-12-01,1.2,0.8,6.7,4.8,1.9,2.3,2.3,1.5,1.7,22.6,28.5,40.5,6.7,15.2
2021-11-01,1.1,0.8,6.2,4.7,2.0,2.3,2.3,1.5,1.8,17.8,27.2,57.0,3.7,11.6
2021-10-01,1.2,0.9,5.7,4.5,2.0,2.3,2.4,1.5,1.9,15.1,23.0,52.9,2.9,8.9
2021-09-01,1.2,0.9,5.0,3.3,2.0,2.4,2.4,1.5,1.8,10.9,16.9,35.6,2.2,5.6
2021-08-01,1.2,1.0,4.2,3.1,1.9,2.4,2.3,1.5,1.7,9.4,15.1,26.8,1.8,4.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.1,NaN,NaN,NaN,NaN,NaN,NaN
1996-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.5,NaN,NaN,NaN,NaN,NaN,NaN
1996-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.4,NaN,NaN,NaN,NaN,NaN,NaN
1996-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.3,NaN,NaN,NaN,NaN,NaN,NaN
1996-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# print the type of the index of the dataframe

index=df_hicp_all.index
print(index.dtype)

datetime64[ns]

In [9]:
# print the data types of the columns in the dataframe

print(df_hicp_all.dtypes)

041100    float64
041200    float64
043100    float64
043200    float64
044000    float64
044100    float64
044200    float64
044300    float64
044400    float64
045100    float64
045200    float64
045300    float64
045400    float64
045500    float64
dtype: object

In [10]:
# save as a csv file under the name of the item group

df_hicp_all.to_csv(f'data/HOUSING, WATER, ELECTRICITY, GAS AND OTHER FUELS.csv', index=True)

In [11]:
# compute and print the means and standard deviations for each series for the full period
display('Means for each series for the full period:')
print(df_hicp_all.mean())

display('Standard deviations for each series for the full period:')

print(df_hicp_all.std())

'Means for each series for the full period:'

041100    1.251020
041200    1.026531
043100    1.951333
043200    2.360000
044000    2.395000
044100    2.399000
044200    2.568667
044300    2.349359
044400    2.333000
045100    2.689000
045200    3.526333
045300    5.609000
045400    2.019333
045500    3.631333
dtype: float64

'Standard deviations for each series for the full period:'

041100     0.138628
041200     0.209936
043100     1.067284
043200     1.026766
044000     0.918342
044100     0.938314
044200     1.588467
044300     1.215204
044400     0.954068
045100     3.014110
045200     7.532441
045300    20.726201
045400     1.518633
045500     7.078297
dtype: float64

In [12]:
# compute and print the means and standard deviations for each calendar month for each series

df_hicp_all.groupby(df_hicp_all.index.month).agg(['mean', 'std'])

     041100           041200           043100           043200            \
       mean       std   mean       std   mean       std   mean       std
date
1     1.250  0.238048  1.050  0.238048  1.872  0.914020  2.324  1.047728
2     1.275  0.095743  1.025  0.262996  1.876  1.040545  2.312  1.015021
3     1.275  0.095743  1.025  0.221736  1.880  0.973824  2.304  1.009736
4     1.275  0.050000  1.025  0.287228  1.892  0.953467  2.344  1.003361
5     1.275  0.050000  1.025  0.262996  1.916  1.004025  2.340  1.020621
6     1.225  0.170783  1.025  0.262996  1.948  0.913382  2.340  1.003328
7     1.225  0.189297  1.000  0.258199  1.936  0.972488  2.376  0.977787
8     1.250  0.173205  1.050  0.208167  1.972  1.073747  2.372  0.983836
9     1.250  0.173205  1.000  0.216025  1.992  1.154311  2.376  0.976934
10    1.250  0.173205  1.050  0.173205  2.028  1.226961  2.404  1.121933
11    1.225  0.189297  1.050  0.208167  2.044  1.305463  2.404  1.174195
12    1.240  0.151658  1.000  0.234521  2.060  1.371131  2.424  1.182610

     044000            ... 045100           045200           045300  \
       mean       std  ...   mean       std   mean       std   mean
date                   ...
1     2.456  0.939007  ...  2.468  2.551261  3.232  7.591756  4.936
2     2.432  0.952068  ...  2.376  2.509362  3.244  7.511884  5.304
3     2.420  0.955249  ...  2.432  2.503285  3.264  7.316470  5.496
4     2.404  0.936963  ...  2.512  2.792150  3.220  6.445994  4.964
5     2.392  0.945569  ...  2.524  2.722634  3.240  6.577550  5.624
6     2.396  0.957636  ...  2.568  2.735373  3.264  6.539997  5.784
7     2.388  0.936447  ...  2.604  2.701771  3.464  7.099054  5.960
8     2.380  0.926463  ...  2.692  2.831949  3.532  7.240150  5.640
9     2.380  0.929606  ...  2.780  2.901867  3.604  7.580704  5.932
10    2.368  0.916388  ...  2.964  3.382662  3.952  8.688024  5.972
11    2.364  0.905483  ...  3.072  3.792044  4.128  9.247906  6.084
12    2.360  0.921050  ...  3.276  4.577325  4.172  9.427465  5.612

                045400           045500
            std   mean       std   mean       std
date
1     19.554366  1.936  1.492448  3.584  7.443827
2     21.282690  1.976  1.553566  3.588  7.430585
3     21.144433  1.960  1.497776  3.588  7.345765
4     18.894970  1.984  1.501854  3.580  7.278908
5     20.821929  1.984  1.529074  3.544  7.005955
6     20.999736  2.016  1.519506  3.516  6.875784
7     21.304362  2.020  1.433818  3.544  6.784116
8     19.999167  2.032  1.437220  3.560  6.853466
9     23.379491  2.060  1.436431  3.592  6.952033
10    22.906013  2.032  1.572079  3.696  7.263004
11    22.215267  2.064  1.649717  3.812  7.448564
12    20.433170  2.168  1.877436  3.972  7.778310

[12 rows x 28 columns]

In [13]:
# redo the above for the period between January 2017 and December 2021

df_hicp_all.loc['2017-01':'2021-12'].groupby(df_hicp_all.loc['2017-01':'2021-12'].index.month).agg(['mean', 'std'])

     041100           041200           043100           043200            \
       mean       std   mean       std   mean       std   mean       std
date
1     1.250  0.238048  1.050  0.238048   1.08  0.486826   1.98  0.370135
2     1.275  0.095743  1.025  0.262996   1.10  0.393700   1.94  0.364692
3     1.275  0.095743  1.025  0.221736   1.20  0.273861   1.94  0.364692
4     1.275  0.050000  1.025  0.287228   1.24  0.585662   2.10  0.374166
5     1.275  0.050000  1.025  0.262996   1.34  0.669328   2.14  0.320936
6     1.225  0.170783  1.025  0.262996   1.46  0.712741   2.14  0.320936
7     1.225  0.189297  1.000  0.258199   1.54  0.991464   2.28  0.501996
8     1.250  0.173205  1.050  0.208167   1.68  1.564289   2.34  0.482701
9     1.250  0.173205  1.000  0.216025   1.82  1.864672   2.36  0.577062
10    1.250  0.173205  1.050  0.173205   1.96  2.137288   2.50  1.234909
11    1.225  0.189297  1.050  0.208167   2.04  2.402707   2.54  1.281796
12    1.240  0.151658  1.000  0.234521   2.18  2.589788   2.58  1.308434

     044000            ... 045100           045200            045300  \
       mean       std  ...   mean       std   mean        std   mean
date                   ...
1      1.18  0.216795  ...   2.12  2.255438   0.38   4.130012   4.92
2      1.16  0.230217  ...   1.82  1.531992   0.60   3.930013   6.14
3      1.16  0.240832  ...   2.04  1.804993   0.94   4.035839   5.88
4      1.16  0.288097  ...   2.70  3.648287   1.60   4.252646   6.08
5      1.16  0.288097  ...   2.70  3.631116   1.76   4.288123   5.96
6      1.16  0.296648  ...   2.76  3.835753   1.98   4.471241   5.32
7      1.18  0.432435  ...   2.66  3.789195   3.10   7.077429   6.72
8      1.18  0.432435  ...   3.08  4.033237   3.34   7.600197   7.28
9      1.20  0.494975  ...   3.38  4.512981   3.68   8.354460   8.20
10     1.20  0.474342  ...   4.16  6.353188   5.28  10.988039  10.54
11     1.22  0.460435  ...   4.74  7.439624   6.18  12.812572  11.66
12     1.18  0.443847  ...   5.66  9.529323   6.32  13.287663   7.52

                045400           045500
            std   mean       std   mean       std
date
1     15.592049   0.86  1.883614   0.10  3.606245
2     15.345455   1.02  1.781011   0.24  3.356039
3     13.006421   0.98  1.879362   0.44  2.802320
4     16.310487   1.02  1.605304   0.64  2.704256
5     19.818375   0.90  1.607794   0.72  2.833196
6     18.893703   1.06  1.645600   0.84  2.656690
7     19.938706   1.24  1.484251   1.12  3.197186
8     20.528444   1.30  1.478175   1.28  3.568193
9     25.209423   1.36  1.644080   1.42  3.623810
10    31.895972   1.44  2.052559   2.12  4.824624
11    32.950842   1.60  2.452550   2.76  5.692802
12    22.874156   2.20  3.338413   3.48  7.144018

[12 rows x 28 columns]

## Part II. GDP data from EUROSTAT

In [14]:
# import the data files you downloaded from EUROSTAT

df_gdp=pd.read_excel('./data/gdp_euroarea.xlsx', sheet_name='Sheet 1', index_col=0, skiprows=10, nrows=108, usecols="A:B")

C:\Users\Daniel Loureiro\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [15]:
# create a dataframe with a datetime index matching the timing of the series you downloaded

#the following two steps change aim to change the name of the column "date", initially named Period\Unit. The presence of \ generated an error in the code, which created the necessity to adapt the code.
df_gdp.reset_index(inplace=True) #because the dataframe was without an index
df_gdp.columns.values[0]="date" 
df_gdp.columns.values[1]="gdp"

#Set datetime index (note that this is going to eliminate the index generated in the previous step, which is ok since that step was just an auxiliar)
new_index = pd.to_datetime(df_gdp.date) #generating the new index to replace the old one. The option format='%Y%b' informs the date is on the form 2022Fev, for instance. 

df_gdp.index=new_index #introducing the index. This steps will generate an additional column with the date. So we can delet the "old" one:
df_gdp.drop('date', axis=1, inplace=True)

In [16]:
df_gdp

                  gdp
date
1995-01-01  1837419.9
1995-04-01  1847658.7
1995-07-01  1851717.6
1995-10-01  1858277.7
1996-01-01  1861887.8
...               ...
2020-10-01  2569399.0
2021-01-01  2564113.0
2021-04-01  2620528.3
2021-07-01  2679880.7
2021-10-01  2687644.7

[108 rows x 1 columns]

In [17]:
#aditional step: introducing the datetime index, the label was set at the begining of the period. That can be changed to the end:
df_gdp=df_gdp.resample('Q').last()
df_gdp

                  gdp
date
1995-03-31  1837419.9
1995-06-30  1847658.7
1995-09-30  1851717.6
1995-12-31  1858277.7
1996-03-31  1861887.8
...               ...
2020-12-31  2569399.0
2021-03-31  2564113.0
2021-06-30  2620528.3
2021-09-30  2679880.7
2021-12-31  2687644.7

[108 rows x 1 columns]

In [18]:
#a better looking dataframe could be achieved with:
df_gdp.to_period('Q')
#this options, which was not saved, would clearly highlight to anyone who looked to the dataframe that we were working with quarterly data

              gdp
date
1995Q1  1837419.9
1995Q2  1847658.7
1995Q3  1851717.6
1995Q4  1858277.7
1996Q1  1861887.8
...           ...
2020Q4  2569399.0
2021Q1  2564113.0
2021Q2  2620528.3
2021Q3  2679880.7
2021Q4  2687644.7

[108 rows x 1 columns]

In [19]:
# save as a csv file under the name "Real-GDP-EA.csv"

df_gdp.to_csv(f'data/Real-GDP-EA.csv', index=True)

## PART III Combine GDP and inflation data

In [20]:
# create a new datafame containing the GDP data and the inflation indices from the first task.

df_hicp_all_end=df_hicp_all.resample('M').last() #labeling the date in the dast day of each month to be consistent with the GDP data

dfs_merged = pd.concat([df_hicp_all_end, df_gdp], axis=1)
dfs_merged

,041100,041200,043100,043200,044000,044100,044200,044300,044400,045100,045200,045300,045400,045500,gdp
date,,,,,,,,,,,,,,,
1995-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1837419.9
1995-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1847658.7
1995-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1851717.6
1995-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1858277.7
1996-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-31,1.2,1.0,4.2,3.1,1.9,2.4,2.3,1.5,1.7,9.4,15.1,26.8,1.8,4.4,NaN
2021-09-30,1.2,0.9,5.0,3.3,2.0,2.4,2.4,1.5,1.8,10.9,16.9,35.6,2.2,5.6,2679880.7
2021-10-31,1.2,0.9,5.7,4.5,2.0,2.3,2.4,1.5,1.9,15.1,23.0,52.9,2.9,8.9,NaN
2021-11-30,1.1,0.8,6.2,4.7,2.0,2.3,2.3,1.5,1.8,17.8,27.2,57.0,3.7,11.6,NaN
2021-12-31,1.2,0.8,6.7,4.8,1.9,2.3,2.3,1.5,1.7,22.6,28.5,40.5,6.7,15.2,2687644.7

In [21]:
#save as a csv file named "merged-GDP-inflation.csv"

dfs_merged.to_csv(f'data/merged-GDP-inflation.csv', index=True)

In [22]:
#alternatively we could create a file with only quarterly data - see this but it is not good

#first we could transform the data from taks 1 in quarterly data, by taking the mean of each quarter
df_hicp_all_quarter=df_hicp_all.resample('Q').mean()

#then the GDP data from task 2 could be labeled at the end of the period - which was already performed in task 2

#then we could finally merged into a new quarterly dataframe
dfs_merged_q=pd.concat([df_hicp_all_quarter, df_gdp], axis=1)
dfs_merged_q

,041100,041200,043100,043200,044000,044100,044200,044300,044400,045100,045200,045300,045400,045500,gdp
date,,,,,,,,,,,,,,,
1995-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1837419.9
1995-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1847658.7
1995-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1851717.6
1995-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1858277.7
1996-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.566667,NaN,NaN,NaN,NaN,NaN,NaN,1861887.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31,1.200000,1.266667,0.300000,1.300000,0.933333,0.133333,1.900000,1.000000,0.833333,-0.466667,-3.566667,-26.066667,-1.333333,-4.000000,2569399.0
2021-03-31,1.166667,1.166667,1.000000,1.633333,1.500000,1.466667,2.066667,1.733333,1.166667,2.333333,-0.466667,-7.066667,-0.700000,-2.666667,2564113.0
2021-06-30,1.300000,0.966667,1.900000,2.400000,1.600000,1.666667,2.100000,1.566667,1.400000,8.000000,5.133333,18.566667,-0.666667,-0.233333,2620528.3
2021-09-30,1.166667,0.933333,4.066667,3.133333,1.933333,2.400000,2.333333,1.466667,1.733333,9.433333,15.266667,29.366667,1.733333,4.433333,2679880.7
2021-12-31,1.166667,0.833333,6.200000,4.666667,1.966667,2.300000,2.333333,1.500000,1.800000,18.500000,26.233333,50.133333,4.433333,11.900000,2687644.7

In [23]:
#saving also the new file
dfs_merged_q.to_csv(f'data/merged-GDP-inflation-quarter-data.csv', index=True)